# Dependencies
/node_modules/


# Build output
/dist/
/tmp
/out-tsc

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package manager files
/.pnp
.pnp.js

# Editors
.vscode/*
/.idea/

# Operationg-system files
.DS_Store
Thumbs.db
